
.title-range{
    font-size: 25px;
  }
  
  ::ng-deep.ng5-slider .ng5-slider-pointer{
  background-color: rgb(255, 0, 106) !important ;
  }
  
  
  ::ng-deep.ng5-slider-span.ng5-slider-pointer.ng5-slider-pointer-min::after{
      background-color: rgb(255, 255, 255) !important ;
  
    }
  
    ::ng-deep.ng5-slider-span.ng5-slider-pointer.ng5-slider-pointer-min.ng5-slider-active{
      background-color: rgba(255, 0, 106, 0.459) !important ;
    }
  
  ::ng-deep.ng5-slider .ng5-slider-span .ng5-slider-bar{
      background-color: rgba(255, 0, 123, 0.164)  ;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    }
  
  ::ng-deep.ng5-slider .ng5-slider-inner-tooltip{
      background-color: rgb(255, 255, 255) !important ;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
  
    ::ng-deep.ng5-slider-span.ng5-slider-tick-legend{
      font-size: 40px !important;
      width: 120px !important;
      max-width: none !important;
      white-space: normal !important;
    }
  
  
  