<div class="general">
    <div class="leyenda">
      <div class="container-box">
        <div class="img">
          <img src="https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/save-512.png" />
        </div>
        <h3 class="texto"> Guardar Cuestionario</h3>
      </div>
      <div class="container-box">
        <div class="img">
          <img src="https://cdn-icons-png.flaticon.com/512/176/176318.png" />
        </div>
        <h3 class="texto"> Firmar Cuestionario</h3>
      </div>
  
      <div class="container-box">
        <div class="img">
          <img src="https://www.freeiconspng.com/thumbs/exit-icon/exit-icon-png-close-0.png" />
        </div>
        <h3 class="texto"> Salir del Cuestionario</h3>
      </div>
    </div>
    <div class="info">
      <div class="container-box">
        <div class="img">
          <img src="https://cdn-icons-png.flaticon.com/512/1/1176.png" />
        </div>
        <h3 class="texto"><b class="bold">Cuestionario: <br></b> Verano</h3>
      </div>
      <div class="container-box">
        <div class="img">
        </div>
        <h3 class="texto-info half"><b class="bold">Decripción: <br></b> Que tal te ha parecido el verano cuentanos tus
          experiencia a traves de unas preguntas</h3>
      </div>
    </div>
  </div>
