
.table-pagination {
  padding: 2em;
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
  }

  th {
    background-color: #ff4081;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
  }
 

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  button {
    margin-bottom: 1rem;
  }

  ::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #ff4081 !important;
   }
  
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color:  #ff4081 !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: #ff4081 !important;
  }


.mat-cell {
  padding: 8px 8px 8px 0;
}

.mat-table {
  display: table;
  width: 100%;
}

.mat-header-row, .mat-row {
  display: table-row;
  padding: 0;
  border: none;
}

.mat-header-cell,  .mat-cell {
  display: table-cell;
  height: 48px;
  vertical-align: middle;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
  

