<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
    integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>

<body>
    <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Lunes</th>
          <th scope="col">Desc.</th>
          <th scope="col">Martes</th>
          <th scope="col">Desc.</th>
          <th scope="col">Miercoles</th>
          <th scope="col">Desc.</th>
          <th scope="col">Jueves</th>
          <th scope="col">Desc.</th>
          <th scope="col">Viernes</th>
          <th scope="col">Desc.</th>
          <th scope="col">Semana</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let turn of turns">
          <th scope="row">{{ turn.codigo }}</th>
          <td>
            {{ turn.lunes | number}} <i class="fas fa-clock"></i>
          </td>
          <td>{{ turn.lunesDescripcion}}</td>
          <td>{{ turn.martes| number}} <i class="fas fa-clock"></i></td>
          <td>{{ turn.martesDescripcion}}</td>
          <td>{{ turn.miercoles | number }} <i class="fas fa-clock"></i></td>
          <td>{{ turn.miercolesDescripcion}}</td>
          <td>{{ turn.jueves | number }} <i class="fas fa-clock"></i></td>
          <td>{{ turn.juevesDescripcion}}</td>
          <td>{{ turn.viernes | number }} <i class="fas fa-clock"></i></td>
          <td>{{ turn.viernesDescripcion}}</td>
          <td>{{ turn.semana }}</td>
        </tr>
        </tbody>
      </table>
      
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCountries()">
        </ngb-pagination>
      
        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
          <option [ngValue]="2">2 turnos por página</option>
          <option [ngValue]="4">4 turnos por página</option>
          <option [ngValue]="6">6 turnos por página</option>
        </select>
      </div>
</body>

