<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
    integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>

<body>
  <div class="">
    <div class="navbar">
      <div class="title">
        <header> <img src="/assets/img/logo-atmira.png" alt="" class="logo_img2"></header>
      </div>
      <div class="user">
        <div class="avatar">
          <i class="fas fa-2x fa-user-circle "></i>
        </div>
        Hola, Admin
      </div>
    </div>
    <div class="body">
      <div class="sidebar">
        <a routerLink="/admindashboard" routerLinkActive="active">
        <div class="item">
          <i class="fas fa-2x fa-columns"></i>
          <span class="text">Dashboard</span>
          <i class="material-icons">
            chevron_right
          </i>
        </div>
      </a>

        <a routerLink="/admindashboard/user" routerLinkActive="active">
          <div class="item active">
            <i class="fas fa-2x fa-user-circle  text-white"></i>
            <span class="text">Usuarios</span>
            <i class="material-icons">
              chevron_right
            </i>
          </div>
        </a>
        <div class="item">
          <i class="far fa-2x fa-calendar-alt"></i>
          <span class="text">Eventos</span>
          <i class="material-icons">
            chevron_right
          </i>
        </div>
        <div class="item">
          <i class="fas fa-2x fa-history"></i>
          <span class="text">Turnos</span>
          <i class="material-icons">
            chevron_right
          </i>
        </div>
        <div class="item">
          <i class="material-icons">
            settings
          </i>
          <span class="text">Settings</span>
          <i class="material-icons">
            chevron_right
          </i>
        </div>
        <br>
        <div class="item">
          <i class="material-icons">
            lock_outline
          </i>
          <span class="text">Logout</span>
        </div>
      </div>
      <div class="content">
        <button class="custom-btn btn-11">Crear usuario<div class="dot"></div></button>
        <div class="container">
          <div class="row le-hide">
            <div class="col-lg-12">
              <div class="m-0 row p-3">
                <div class="col-sm-10 col-lg-2 p-0 pl-lg-5">
                  <strong>DNI</strong>
                </div>
                <div class="col-sm-10 col-lg-2 p-0 pl-lg-5">
                  <strong>Nombre</strong>
                </div>
                <div class="col-sm-10 col-lg-2 p-0 pl-lg-5">
                  <strong>Apellidos</strong>
                </div>
                <div class="col-sm-10 col-lg-2 p-0 pl-lg-5">
                  <strong>Idnavision</strong>
                </div>
                <div class="col-sm-10 col-lg-2 p-0 pl-lg-5">
                  <strong>correo</strong>
                </div>
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="col-sm-4 col-lg-12 mt-2 mb-2">
              <div class="m-2 row row-container bg-white p-3">
                <div class="col-sm-12 col-lg-2  p-0 p-0 pl-lg-5">
                  Juan
                </div>
                <div class="col-sm-12 col-lg-2  p-0 p-0 pl-lg-5">
                  Juan
                </div>
                <div class="col-sm-12 col-lg-2 p-0 p-0 pl-lg-5">
                  Morales Gómez
                </div>
                <div class="col-sm-12 col-lg-2 p-0 p-0 pl-lg-5">
                  juanmorales@atmira.es
                </div>
                <div class="col-sm-12 col-lg-2 p-0 p-0 pl-lg-5">
                  JMORALESG
                </div>
                <div class="col-sm-12 col-lg-1 p-0">
                  <button class="btn btn-sm btn-pink d-inline-block mr-1"><i class="fas fa-edit"></i></button>
                  <button class="btn btn-sm btn-danger d-inline-block"><i class="fas fa-trash-alt"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
