
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
    integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <div class='dashboard'>
      <div class='dashboard-app'>
        <div class='dashboard-content'>
        <div style="margin-top: -200px;" class="container">
          <form>
            <div class="input-group">
              <input  id="table-complete-search"
              type="search"
              placeholder="Buscar Usuario por IdNavision"
              name="searchTerm"
              [(ngModel)]="searchText"  (input)="Search()"  class="form-control rounded fc"  aria-label="Search" aria-describedby="search-addon" />
              <button type="button" (click)="open(mymodal)" class="btn btn-11">Crear Usuario</button>
            </div>

            <table class="table bgtable">
              <thead >
                <tr class="bg-dark text-white">
                  <th scope="col">Nombre</th>
                  <th scope="col">DNI</th>
                  <th scope="col">Apellidos</th>
                  <th scope="col">Correo</th>
                  <th scope="col">IdNavision</th>
                  <th scope="col">Puesto</th>
                  <th scope="col">Oficina</th>
                  <th scope="col">Estado</th>
                  <th scope="col"></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr class="bg-white text-dark" *ngFor="let user of listOfContacts | paginate:page_size:page_number">
                  <td><img height="30" width="30" src="{{user.profile_Picture}}" class="avatar">{{user.name}}</td>
                        <td>{{user.codigo}}</td>
                        <td>{{user.apellido1}} {{user.apellido2}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.login}}</td>
                        <td>{{user.puesto}}</td>
                        <td>{{user.oficina}}</td>
                        <td ><span class="status text-success">&bull;</span> Active</td>
                        <td>
                          <button (click)="open2(mymodal2); getUserByDNI(user.login)" type="button" class="btn"><i class="fas fa-gear" style="color: deeppink;" aria-hidden="true"></i></button>
                      </td>
                      <td> <button (click)="deleteUser(user.login)" type="button" class="btn"><i class="fas fa-trash" style="color: deeppink;" aria-hidden="true"></i></button></td>



                      <ng-template #mymodal2 let-modal>
                        <div class="modal-overlay" ng-class="{open: showModal == true}"></div>
                        <div class="modal-header">
                          <h4 class="" id="modal-basic-title">Crear usuario</h4>
                          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>

                        <div class="modal-body">
                            <form [formGroup]="formUserUpdate">
                              <div class="user-box">
                                <label>DNI</label>
                                <input type="text" name="codigo"  formControlName="codigo">
                              </div>
                              <div class="user-box">
                                <label>Nombre</label>
                                <input type="text" name="name" value="" formControlName="name">
                              </div>
                              <div class="user-box">
                                <label>Apellido 1</label>
                                <input type="text" name="apellido1" value="{{apellido1}}"   formControlName="apellido1">
                              </div>
                              <div class="user-box">
                                <label>apellido2</label>
                                <input type="text" name="apellido2"   formControlName="apellido2">
                              </div>
                              <div class="user-box">
                                <label>Correo</label>
                                <input type="text" name="email"  formControlName="email">

                              </div>
                              <div class="user-box">
                                <label>IdNavision</label>
                                <input type="text" name="login"   formControlName="login">
                              </div>
                              <div class="user-box">
                                <label>Puesto</label>
                                <input type="text" name="puesto"   formControlName="puesto">
                              </div>
                              <div class="user-box">
                                <label>Oficina</label>
                                <input type="text" name="oficina"   formControlName="oficina">
                              </div>
                            </form>
                          </div>
                        <div class="modal-footer">
                          <button type="button" (click)="modal.close();updateUser();" class="btn btn-dark "><span>Guardar</span></button>
                        </div>
                      </ng-template>
                    </tr>
              </tbody>
            </table>
            <div class="clearfix">
              <mat-paginator #paginator
              class="pagination"
              (page)="handlePageEvent($event)"
              [length]="listOfContacts.length"
              [pageSize]="page_size"
              [pageSizeOptions]="pageSizeOptions"
              [pageIndex]="0"
              aria-label="Select page">
              </mat-paginator>
          </div>
          </form>
        </div>
    </div>
    <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
      <div class="container text-center">
        <small>Copyright &copy; Atmira</small>
      </div>
    </footer>
  </div>
  </div>














  <ng-template #mymodal let-modal>
    <div class="modal-overlay" ng-class="{open: showModal == true}"></div>
    <div class="modal-header">
      <h4 class="" id="modal-basic-title">Crear usuario</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="formUserCreate">
          <div class="user-box">
            <label>DNI</label>
            <input type="text" name="codigo"  formControlName="codigo">
          </div>
          <div class="user-box">
            <label>Nombre</label>
            <input type="text" name="name" value=""   formControlName="name">
          </div>
          <div class="user-box">
            <label>Primer Apellido</label>
            <input type="text" name="apellido1"   formControlName="apellido1">
          </div>
          <div class="user-box">
            <label>Segundo Apellido</label>
            <input type="text" name="apellido2"   formControlName="apellido2">
          </div>
          <div class="user-box">
            <label>Correo</label>
            <input type="text" name="email"  formControlName="email">

          </div>
          <div class="user-box">
            <label>IdNavision</label>
            <input type="text" name="login"   formControlName="login">
          </div>
          <div class="user-box">
            <label>Puesto</label>
            <input type="text" name="puesto"   formControlName="puesto">
          </div>
          <div class="user-box">
            <label>Oficina</label>
            <input type="text" name="oficina"   formControlName="oficina">
          </div>
          <div class="user-box">
            <label>Contraseña</label>
            <input type="text" name="password"   formControlName="password">
          </div>
          <div class="user-box">
            <label>Selecciona el rol</label>
            <div class="select">
              <select class="select-body">
                <option  *ngFor="let user of users" [value]="user.name">{{user.name}}</option>
              </select>
            </div>
          </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="modal.close()" class="btn btn-dark "><span>Guardar</span></button>
    </div>
  </ng-template>
