.qgTable {
  margin: 0 auto;
  margin-top: 2.5em;
  background-color: #fff;
  width: 70%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.qgTable table {
  width: 100%;
}

th {
  background-color: #e81f76;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

button {
  margin-bottom: 1rem;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #ff4081 !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color:  #ff4081 !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: #ff4081 !important;
}


.mat-cell {
padding: 8px 8px 8px 0;
}

.mat-table {
display: table;
width: 100%;
}

.mat-header-row, .mat-row {
display: table-row;
padding: 0;
border: none;
}

.mat-header-cell,  .mat-cell {
display: table-cell;
height: 48px;
vertical-align: middle;
border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.title-survey {
  font-size: 30px;
  font-weight: 500;
  position: relative;
  display: block;
  padding-bottom: 5px;
  margin-bottom: 1em;
  font-weight: bold;
}

.add-relation {
  margin: 0 auto;
  margin-top: 5em;
  background-color: #fff;
  width: 70%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.select-box-container {
  display: flex;
  justify-content: space-between;
}

.select-box {
  width: 48%;
  position: relative;
}

.select-option {
  position: relative;
  outline: 0;
  border-radius: 5px;
  border: 1.5px solid #ccc;
  border-bottom-width: 2.5px;
}

.select-option input {
    width: 100%;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px;
    border: 0 !important;
    outline: 0 !important;
}

.select-option:after {
    content:"";
    border-top: 12px solid #535252;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -8px;
}

.content {
    background-color: #cf81a3;
    position: absolute;
    color: #fff;
    border-radius: 7px;
    margin-top: 15px;
    width: 100%;
    padding: 20px;
    z-index: 999;
    display: none;
}

.search input {
    width: 100%;
    font-size: 17px;
    padding: 10px;
    outline: 0;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    border-radius: 5px;
}

.options {
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding: 0;
}

.options::-webkit-scrollbar {
  width: 12px;           
}

.options::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 20px;       
}

.options::-webkit-scrollbar-thumb {
  background: #e81f76;  
  border-radius: 20px;     
}

.options li {
    width: 95%;
    font-weight: bold;
    padding: 10px 15px;
    font-size: 1.2em;
    cursor: pointer;
    border-bottom: 1px solid #fff;
}

.options li:hover {
    background-color: #b95c84;   
}

.select-box.active .content {
  display: block;
}

.select-box.active .select-option:after {
  transform: rotate(-180deg);
}

.btn-submit {
  width: 30%;
  background-color: #e81f76;
  color: #fff;
  padding: 8px;
  margin-top: 2em;
  border-radius: 5px;
  border: 1px solid #c81a67;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-size: 1.2em;
}

th {
  background-color: #e81f76;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
}

.btn-pink{
  color: white;
  background-color: rgb(255, 0, 149);
}

.fc{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.bgtable{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 20px;
}



/* BUTTON */
.custom-btn {
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: none;
}

.btn-11 {
  width: 160px;
  height: 38px;
  max-width: 160px;
  border: none;
  background: rgb(251,33,117);
  background: linear-gradient(0deg, rgba(251,33,117,1) 0%, rgba(234,76,137,1) 100%);
  color: #fff;
  font-size: 12px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn-11:hover {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

.btn-11:hover{
  background: linear-gradient(0deg, rgb(175, 9, 73) 0%, rgb(170, 7, 70) 100%);
}

.modal-overlay {
  display: block;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .65);
  position: absolute;
  top: 0;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.modal-header {
  background: #f833a6;
  align-items: center;
  display: flex;
  color: white;
}

.modal-header h4{
  margin-top: 10px;
  font-size: 20px;
  color: #fff;
}

.modal-header .icon-btn {
  color: #fff;
  cursor: pointer;
}
 .modal-body {
  margin-top: -120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-body input[type="text"] {
  margin: 15px 0;
  padding: 15px 15px;
  width: 100%;
}
 .pagination{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }

.avatar{
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}


form{
  margin-top: 10rem;
}




.select-body {
  width: 100%;
  appearance: none;
  outline: 0;
  border: 1px solir black;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: black;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
.select-body::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 100%;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  color: white;
  background-color: #f833a6;
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #9c1f68;
  color: black;
}


