<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Iniciar Sesion</title>
</head>
<body>
  <i class="fas fa-key"></i>
	<div class="box">
		<img src="/assets/img/logo-atmira.png" alt="">
		<form action="">
			<div class="inputBox">
				<input type="text" name="" required="">
				<label for="">Idnavision</label>
			</div>
			<div class="inputBox">
				<input type="password" name="" required="">
				<label for="">Contraseña</label>
			</div>
			<input type="submit" name="" routerLink="/home" value="Iniciar Sesion">
		</form>
	</div>
</body>
</html>
