<div class="registercontpage">
  <div class="stepwizard col-md-offset-3">
    <div class="stepwizard-row setup-panel">
      <div class="stepwizard-step">
        <div type="button" class="btn btn-circle" [ngClass]="{'btn-primary active-pa': estado.onLoad==true || estado.onLoad==false && estado.completed==true && estado.signed==false || estado.signed==true}">1</div>
        <p>En proceso</p>
      </div>

      <div class="stepwizard-step">
        <div type="button" class="btn btn-circle" [ngClass]="{'btn-primary active-pa': estado.onLoad==false && estado.completed==true && estado.signed==false || estado.signed==true} ">2</div>
        <p>Completa</p>
      </div>

      <div class="stepwizard-step">
        <div type="button" class="btn btn-circle" [ngClass]="{'btn-primary active-pa': estado.onLoad==false && estado.completed==true && estado.signed==false || estado.signed==true}">3</div>
        <p>Pendiente de firmar</p>
      </div>

      <div class="stepwizard-step">
        <div type="button" class="btn btn-circle" [ngClass]="{'btn-primary active-pa': estado.onLoad==false && estado.completed==true && estado.signed==true}">4</div>
        <p>Firmada</p>
      </div>
    </div>
  </div>
</div>
