<div class="registercontpage">
    <div class="stepwizard col-md-offset-3">
      <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
          <div type="button" class="btn btn-circle btn-primary active-pa">1</div>
          <p>Pendiente de hacer</p>
        </div>

        <div class="stepwizard-step">
          <div type="button" class="btn btn-circle btn-primary active-pa">2</div>
          <p>Pendiente de revision</p>
        </div>

        <div class="stepwizard-step">
          <div type="button" class="btn btn-circle btn-primary">3</div>
          <p>Pendiente de firmar</p>
        </div>

        <div class="stepwizard-step">
          <div type="button" class="btn btn-circle btn-primary">4</div>
          <p>Enviada</p>
        </div>

      </div>
    </div>
  </div>