<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
    integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>
<body>
  <div class="">
    <div class="navbar">
      <div class="title">
        <header> <img src="/assets/img/logo-atmira.png" alt="" class="logo_img2"></header>
      </div>
      <div class="user">
        <div class="avatar">
          <i class="fas fa-2x fa-user-circle "></i>
        </div>
        Hola, Admin
      </div>
    </div>
    <div class="body">
      <div class="sidebar">
        <div class="item active">
          <i class="fas fa-2x fa-columns"></i>
          <span class="text">Dashboard</span>
          <i class="material-icons">
            chevron_right
          </i>
        </div>

        <a routerLink="/admindashboard/user"  routerLinkActive="active">
        <div class="item">

            <i class="fas fa-2x fa-user-circle  text-white"></i>
            <span class="text">Usuarios</span>

            <i class="material-icons">
              chevron_right
            </i>

        </div>
      </a>
        <div class="item">
          <i class="far fa-2x fa-calendar-alt"></i>
          <span class="text">Eventos</span>
          <i class="material-icons">
            chevron_right
          </i>
        </div>
        <div class="item">
          <i class="fas fa-2x fa-history"></i>
          <span class="text">Turnos</span>
          <i class="material-icons">
            chevron_right
          </i>
        </div>
        <div class="item">
          <i class="material-icons">
            settings
          </i>
          <span class="text">Settings</span>
          <i class="material-icons">
            chevron_right
          </i>
        </div>
        <br>
        <div class="item">
          <i class="material-icons">
            lock_outline
          </i>
          <span class="text">Logout</span>
        </div>
      </div>
      <div class="content">
        <div class="content">
          <div class="main-stats">
            <div class="stat-item">
              <div class="counter">
                <i class="fas fa-3x fa-user-circle"></i>
                <div class="count">400</div>
                <div class="description">Usuarios Activos</div>
              </div>
            </div>
            <div class="stat-item">
              <div class="counter">
                <i class="far fa-3x fa-calendar-alt"></i>
                <div class="count">13140</div>
                <div class="description">Eventos</div>
              </div>
            </div>
            <div class="stat-item">
              <div class="counter">
                <i class="fas fa-3x fa-history"></i>
                <div class="count">9001</div>
                <div class="description">Turnos Activos</div>
              </div>
            </div>
            <div class="stat-item">
              <div class="counter">
                <i class="fas fa-3x fa-tasks"></i>
                <div class="count">350</div>
                <div class="description">Encuestas Activas</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</body>
</html>
