

a {
  text-decoration: none;
}
li {
  list-style: none;
}

table {
  padding: 10px ;
}
th,
td {
  text-align: left;
  padding: 18px 25px 12px;
}

.btn {
  background: #ff00aa;
  color: white;
  padding: 5px 10px;
  text-align: center;
  margin-right: 15px;
}
.btn:hover {
  color: #ff00aa;
  background: white;
  padding: 3px 8px;
  border: 2px solid #ff00aa;
}
