<div class='dashboard'>
  <div class='dashboard-app'>
    <header class='dashboard-toolbar'></header>
    <div class='dashboard-content'>
      <div class='container'>
        <full-calendar class="calendario" [options]="calendarOptions"></full-calendar>
      </div>
<!--Modal para crear un evento al hacer click sobre una fecha-->
      <ng-template #viewModal>
        <div class="modal-header active">
          <h4 class="modal-title text-white text-uppercase my-auto mx-auto text-center">Crear un nuevo evento</h4>
        </div>
        <div class="modal-body px-5">
          <label class="mb-2 mt-2">Nombre del evento</label>
          <input
            type="text"
            id="title"
            name="title"
            [(ngModel)]="eventName"
            placeholder="Introduce el nombre del evento..."
            class="bg-transparent px-2 rounded h-30 w-100 mt-2"
          />
          <label class="mb-2 mt-2">Descripción del evento</label>
          <input
            type="text"
            id="description"
            name="description"
            [(ngModel)]="eventDescription"
            placeholder="Introduce la descripción del evento..."
            class="bg-transparent px-2 rounded h-30 w-100 mt-2"
          />
        </div>
        <div class="d-flex justify-content-end mt-3 mb-4 px-5">
          <button
            class="btn btn-success mr-2 w-30"
            (click)="createEvent()"
            [disabled]="eventName === ''"
          >
            Guardar
          </button>
          <button
            class="btn btn-danger ml-2 w-30 cancelBtn"
            (click)="cancelDialog()"
          >
            Cancelar
          </button>
        </div>
      </ng-template>
<!-- Modal para editar o eliminar-->
      <ng-template #deleteModal>
        <div class="modal-header active">
          <h4 class="modal-title text-white text-uppercase my-auto mx-auto text-center">Editar evento</h4>
        </div>
        <div class="modal-body px-5">
          <label class="mb-2 mt-2">Nombre del evento</label>
          <input
            type="text"
            id="title"
            name="title"
            [(ngModel)]="nombre"
            placeholder="Introduce el nombre del evento..."
            class="bg-transparent px-2 rounded h-30 w-100 mt-2"
          />
          <label class="mb-2 mt-2">Descripción del evento</label>
          <input
            type="text"
            id="description"
            name="description"
            [(ngModel)]="descripcion"
            placeholder="Introduce la descripción del evento..."
            class="bg-transparent px-2 rounded h-30 w-100 mt-2"
          />
        </div>
        <div class="d-flex justify-content-end mt-3 mb-4 px-5">
          <button
            class="btn btn-success mr-2 w-30"
            (click)="updateEvent()"
            [disabled]="nombre === ''"
          >
            Actualizar
          </button>
          <button
            class="btn btn-danger ml-2 w-30 cancelBtn"
            (click)="deleteEvent()"
          >
            Eliminar
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>