<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Iniciar Sesion</title>
</head>
<body>
	<div class="box">
		<img src="/assets/img/logo-atmira.png" alt="">
		<form #form="ngForm" (ngSubmit)="login(form)">
			<div class="inputBox">
				<input type="text" name="login" required [(ngModel)]="creds.login">
				<label for="">Idnavision</label>
			</div>
			<div class="inputBox">
				<input type="password" name="password" required [(ngModel)]="creds.password">
				<label for="">Contraseña</label>
			</div>
			<div>
				<p class="errorMessage">{{errorMessage}}</p>
			</div>
			<input type="submit" name="" value="Iniciar Sesion">
		</form>
	</div>
</body>
</html>
