.dashboard-profile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  background-size: 100%;
  max-width: 100%;
  background-repeat: repeat;
  background-position: 0% 0%;
  z-index: -1;

}



@keyframes move {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}


@media screen and (max-width: 1279px) {
  .dashboard-profile {
    background-size: 120%;
 }
}


@media screen and (max-width: 1067px) {
  .dashboard-profile {
    background-size: 150%;
 }
}


@media screen and (max-width: 855px) {
  .dashboard-profile {
    background-size: 220%;
 }
}

@media screen and (max-width: 573px) {
  .dashboard-profile {
    background-size: 280%;
 }
}

@media screen and (max-width: 478px) {
  .dashboard-profile {
    background-size: 300%;
 }
}


@media screen and (max-width: 450px) {
  .dashboard-profile {
    background-size: 600%;
 }
}



.profile-card {
  z-index: 0;
  width: 100%;
  min-height: 300px;
  margin: auto;
  box-shadow: 0px 8px 60px -10px rgba(13,28,39,0.6);
  background: #ececec;
  border-radius: 12px;
  max-width: 1000px;

}
.profile-card.active .profile-card__cnt {
  filter: blur(6px);
}
.profile-card.active .profile-card-message, .profile-card.active .profile-card__overlay {
  opacity: 1;
  pointer-events: auto;
  transition-delay: .1s;
}
.profile-card.active .profile-card-form {
  transform: none;
  transition-delay: .1s;
}
.profile-card__img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 4;
  box-shadow: 0px 5px 50px 0px #f833a6, 0px 0px 0px 7px rgba(255, 0, 179, 0.5);
}


@media screen and (max-width: 576px) {
  .profile-card__img {
    width: 120px;
    height: 120px;
 }
}

.profile-card__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.profile-card__cnt {
  margin-top: -35px;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 40px;
  transition: all .3s;
}
.profile-card__name {
  font-weight: 700;
  font-size: 24px;
  color: #f833a6;
  margin-bottom: 15px;
}
.profile-card__txt {
  font-size: 18px;
  font-weight: 500;
  color: #8f0d59;
  margin-bottom: 15px;
}
.profile-card__txt strong {
  font-weight: 700;
}
.profile-card-loc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
}
.profile-card-loc__icon {
  display: inline-flex;
  font-size: 27px;
  margin-right: 10px;
}
.profile-card-inf {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 5px;
}
.profile-card-inf__item {
  padding: 10px 35px;
  min-width: 150px;
}
@media screen and (max-width: 768px) {
  .profile-card-inf__item {
    padding: 10px 20px;
    min-width: 120px;
 }
}
.profile-card-inf__title {
  font-weight: 700;
  font-size: 27px;
  color: #324e63;
}
.profile-card-inf__txt {
  font-weight: 500;
  margin-top: 7px;
}

 .text-content{
   font-weight: 600;

 }

.profile-card-social {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.profile-card-social__item {
  display: inline-flex;
  width: 55px;
  height: 55px;
  margin: 15px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #405de6;
  box-shadow: 0px 7px 30px rgba(43,98,169,0.5);
  position: relative;
  font-size: 21px;
  flex-shrink: 0;
  transition: all .3s;
}
@media screen and (max-width: 768px) {
  .profile-card-social__item {
    width: 50px;
    height: 50px;
    margin: 10px;
 }
}
@media screen and (min-width: 768px) {
  .profile-card-social__item:hover {
    transform: scale(1.2);
 }
}

.profile-card-social .icon-font {
  display: inline-flex;
}
.profile-card-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
@media screen and (max-width: 576px) {
  .profile-card-ctr {
    flex-wrap: wrap;
 }
}
.profile-card__button {
  background: none;
  border: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 19px;
  margin: 15px 35px;
  padding: 15px 40px;
  min-width: 201px;
  border-radius: 50px;
  min-height: 55px;
  color: #fff;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all .3s;
}
@media screen and (max-width: 768px) {
  .profile-card__button {
    min-width: 170px;
    margin: 15px 25px;
 }
}
@media screen and (max-width: 576px) {
  .profile-card__button {
    min-width: inherit;
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
    max-width: 300px;
 }
  .profile-card__button:last-child {
    margin-bottom: 0;
 }
}
.profile-card__button:focus {
  outline: none !important;
}
@media screen and (min-width: 768px) {
  .profile-card__button:hover {
    transform: translateY(-15px);
 }
}
.profile-card__button:first-child {
  margin-left: 0;
}
.profile-card__button:last-child {
  margin-right: 0;
}
.profile-card__button.button--orange {
  background: linear-gradient(45deg,#d5135a,#941764);
  box-shadow: 0px 4px 30px rgba(223,45,70,0.35);
}
.profile-card__button.button--orange:hover {
  box-shadow: 0px 7px 30px rgba(221, 40, 140, 0.75);
}

.profile-card-message {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 130px;
  padding-bottom: 100px;
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
}
.profile-card-form {
  box-shadow: 0 4px 30px rgba(15,22,56,0.35);
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 35px;
  transform: scale(.8);
  position: relative;
  z-index: 3;
  transition: all .3s;
}
@media screen and (max-width: 768px) {
  .profile-card-form {
    max-width: 90%;
    height: auto;
 }
}
@media screen and (max-width: 576px) {
  .profile-card-form {
    padding: 20px;
 }
}
.profile-card-form__bottom {
  justify-content: space-between;
  display: flex;
}
@media screen and (max-width: 576px) {
  .profile-card-form__bottom {
    flex-wrap: wrap;
 }
}
.profile-card textarea {
  width: 100%;
  resize: none;
  height: 210px;
  margin-bottom: 20px;
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  padding: 15px 20px;
  color: #324e63;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
  outline: none;
  transition: all .3s;
}
.profile-card textarea:focus {
  outline: none;
  border-color: #8a979e;
}
.profile-card__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  background: rgba(22,33,72,0.35);
  border-radius: 12px;
  transition: all .3s;
}

/*************************/
/* MODAL */


.modal-header {
  background: #f833a6;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.modal-header h4{
  margin-top: 10px;
  font-size: 20px;
  color: #fff;
}

.modal-header .icon-btn {
  color: #fff;
  cursor: pointer;
}
 .modal-body {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-body input[type="text"] {
  margin: 15px 0;
  padding: 15px 15px;
  width: 80%;
}

.modal-overlay {
  display: block;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .65);
  position: absolute;
  top: 0;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.btn {
  background: #f833a6;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px 25px;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
}


/**********************/
/*****ContentModal********/


.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: black;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color:black#fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #f833a6;
  font-size: 15px;
}


.profile-img{
  width: 250px;
  height: 200px;
  position: relative;
  display: block;
  text-align: center;
  box-shadow: 0px 7px 30px rgba(37, 36, 37, 0.75);
}


.button{
  position: relative;
  display: block;
  font-family: helvetica, sans-serif;
  font-size: 15px;
  padding:20px;
  text-align: center;
  color: white;
  background-color: #cf0080;
  cursor: pointer;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 40px;
}

.button:hover{
  letter-spacing: 1px;
  color: white;
  background-color: #800a53;
}

.button:after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 10px;
  height: 10px;
  background-color: rgba(255,255,255,0.4);
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: .9s;
  -o-transition: .9s;
  transition: .9s;
}

.button:hover:after{
  -webkit-transform: scale(50);
  -ms-transform: scale(50);
  transform: scale(50);
  opacity: 1;
}



.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

:host .alert-custom {
  color: black;
  background-color: greenyellow;
  border-color: black;
}

.btn-3 {
  background: #f833a6;
background: linear-gradient(0deg, rgb(238, 0, 131) 0%, rgb(238, 0, 159) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;

}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   background: #f833a6;
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
   background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
   color: #f833a6;
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   background: #f833a6;
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}



/*ORGANIZATION*/

.container-table th h1 {
  font-weight: bold;
  font-size: 1em;
text-align: left;
color: #185875;
}

.container-table td {
  font-weight: normal;
  font-size: 1em;
-webkit-box-shadow: 0 2px 2px -2px #0E1119;
   -moz-box-shadow: 0 2px 2px -2px #0E1119;
        box-shadow: 0 2px 2px -2px #0E1119;
}

.container-table {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
display: table;
padding: 0 0 8em 0;
}

.container-table td, .container-table th {

  padding-top: 5%;
  padding-left: 10%;
}

/* Background-color of the odd rows */
.container-table tr:nth-child(odd) {
  background: #ececec;
}

/* Background-color of the even rows */
.container-table tr:nth-child(even) {
  background: #ececec;
}

.container-table th {
  background: #ececec;
}


@media (max-width: 800px) {
.container-table td:nth-child(4),
.container-table th:nth-child(4) { display: none; }
}


.page-wrapper {

width: 250px;
}

.expandable-card {
  position:relative;
  margin-bottom: 16px;
}

.col:first-child {
  margin-right: -20px;
}

[cardContent]{
  position: relative;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
  [collapsedContent] {
    display: flex;
    flex-direction: row;
    padding: 7px;
  }



.expandable-card--title {
  font-size: 21px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 4px;
}
.expandable-card--sub-title {
  font-size: 14px;
  color: #888888;
}

.expandable-card--profile-image img{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: black;
  font-size: 21px;
  font-weight: bold;
  border-radius: 1000px;
}



.expanding-card--placeholder {
  position:relative;
  height: 0;
  visibility:hidden;
}


  .mock-content .mock-content-line {
    background: #888888;
    height: 16px;
    margin-bottom: 8px;

  }


  ngb-toast {
    border: 2px solid white;
    z-index: 0;
    border-radius: 10px;
    background-color: #cf0080;
    text-align: center;
    font-size: 18px;
    color: white;
    float: right;
    margin-right: 40px;
    margin-top: -50px;
    font-weight: 600;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
  }




