<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
    integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>

<body>
    <div class="dashboard-nav">
      <header> <img src="/assets/img/logo-atmira.png" alt="" class="logo_img"></header>
      <nav class="dashboard-nav-list">

          <a routerLink="/profile"  routerLinkActive="active" class="dashboard-nav-item">
            <i class="fas fa-address-card"></i>
          Tu perfil </a>
          <a routerLink="/home" routerLinkActive="active" class="dashboard-nav-item">
          <i class="far fa-clock"></i>
          Entrada/Salida</a>
          <a routerLink="/calendar"  routerLinkActive="active" class="dashboard-nav-item ">
            <i class="fas fa-calendar-alt"></i>
            Eventos
        </a>

        <a href="#"  routerLinkActive="active" class="dashboard-nav-item">
          <i class="fas fa-comment-dots"></i>
        Encuestas </a>


        <div class="nav-item-divider"></div>
        <a (click)="logout()" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> Logout </a>
      </nav>
    </div>
</body>

</html>
