
html, body {
  background-image: url('./assets/img/fondo.png');
  height:100%;
  width:100%;
}





nav {
  display: block;
}

body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #515151;
  text-align: left;
  overflow-x: hidden;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Nunito", sans-serif;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
  font-weight: normal;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0;
  margin-bottom: 30px;
}

.logo_img {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
	color: #FFF;
	text-align: center;
  width: 180px;
  height: 60px;
}


.logo_img2 {
  position: absolute;
  top: 5%;
	color: #FFF;
	text-align: center;
  width: 200px;
  height: 70px;
  margin-left: 10px;
}
.card-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  text-align: center;
}

.dashboard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  background-size: 140%;
  background-repeat: no-repeat;
}

.dashboard-app {

  overflow: hidden;
  width: 100vw;
  padding: 10rem;
}

.dashboard-content {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  padding: 25px;
  background-size: 120%;
  background-repeat: no-repeat;
}


.dashboard-compact .dashboard-nav {
  display: none;
}

.dashboard-nav header {
  min-height: 84px;
  padding: 8px 27px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dashboard-nav a {
  color: #515151;
}

.dashboard-nav a:hover {
  color: #f833a6;
  text-decoration: none;
}

.dashboard-nav {
  background-color: #403F4C;
}

.dashboard-nav a {
  color: #fff;
}

.dashboard-nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #403F4C;
}

.dashboard-nav-item {
  min-height: 56px;
  padding: 8px 20px 8px 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.02em;
  transition: ease-out 0.5s;
}

.dashboard-nav-item i {
  width: 36px;
  font-size: 19px;
  margin-left: -40px;
}

.dashboard-nav-item:hover {
  background: rgba(255, 255, 255, 0.04);
}


.nav-item-divider {
  height: 1px;
  margin: 1rem 0;
  overflow: hidden;
  background-color: rgba(236, 238, 239, 0.3);
}

@media (min-width: 992px) {
  .dashboard-app {

  }

  .dashboard-compact .dashboard-app {
      margin-left: 0;
  }
}


@media (max-width: 768px) {
  .dashboard-content {
      padding: 15px 0px;
  }
}

@media (max-width: 992px) {
  .dashboard-nav {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 1070;
  }

  .dashboard-nav.mobile-show {
      display: block;
  }
}

@media (max-width: 992px) {
  .dashboard-nav header .menu-toggle {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
  }
}

@media (min-width: 992px) {
  .dashboard-toolbar {
      left: 238px;
  }

  .dashboard-compact .dashboard-toolbar {
      left: 0;
  }
}

 .icon {
	 display: inline-block;
	 width: 1em;
	 height: 1em;
	 stroke-width: 0;
	 stroke: currentColor;
	 fill: currentColor;
}

 @media screen and (max-width: 768px) {
	 .wrapper {
		 height: auto;
		 min-height: 100vh;
		 padding-top: 100px;
	}
}



.brand_text{
  text-align: center;
  margin-top: 10px;
  color: white;
  padding: 10px 10px 15px 15px !important;
}



  .wrapper{
    margin-top: 100px;
  }


  /* ADMIN DASHBOARD */

  .content {
    width: 100%;
    background-color: lightgray;
  }

  .container2 {
    font-family: 'Lato', sans-serif;
    width: 100vw;
    height: 6vh;
    background-color: #585769;
  }

  hr {
    height: 0.2;
    border: 1px solid rgb(100, 100, 100);
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 20px;
    margin-bottom: 20px;
  }


  .btn-link {
    color: #f833a6 !important;
}


  .body {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    overflow: hidden;
    background-color: #403F4C;

  }



  .contenedor {
    z-index: 0;
    position: absolute;
    right: 0;
    width: 86vw;
    max-width: 86vw;
    background-color: rgb(230, 230, 230);
  }

  .contenedor .content {
    z-index: 0;
    position: relative;
    right: 0;
    width: 86vw;
    max-width: 86vw;
    background-color: rgb(230, 230, 230);
  }
  .dashboard-content .cards {
    padding: 30px 12px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .dashboard-content .cards .card {
    width: 250px;
    border-radius: 10px;
    height: 180px;
    background: white;
    margin: 20px 10px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .dashboard-content .cards .card h1{
    margin-top: 18px;
  text-align: center;
  }

  .dashboard-content .cards .card h3{
    margin-bottom: 20px;

  }
  .dashboard-content .content-2 {
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .dashboard-content .content-2 .recent-payments {
    min-height: 55vh;
    flex: 5;
    background: white;
    margin: 0 0px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  }
  .dashboard-content .content-2 .new-students {
    flex: 2;
    background: white;
    border-radius: 10px;
    min-height: 61vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
  }
  .dashboard-content .content-2 .new-students table td:nth-child(1) img {
    height: 40px;
    width: 40px;
  }

  @media screen and (max-width:536px) {

    .dashboard-content .content-2 .recent-payments table th:nth-child(2),
    .dashboard-content .content-2 .recent-payments table td:nth-child(2) {
        display: none;
    }

    .brand-name h1 {
      font-size: 16px;
  }
  .dashboard-content.cards {
      justify-content: center;
  }
  }


  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    color: #f833a6;
    border-bottom: 2px solid #535353;
  }


  .status {
    font-size: 30px;
    margin: 2px 2px 0 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 10px;
  }

  .text-success {
    color: #10c469;
  }

  .text-danger {
    color: #ff5b5b;
  }

  .calendario button{
    border: #f833a6 1px solid !important;
    background-color: #f833a6 !important;
  }

  .calendario button:hover{
    border: #af1b72 1px solid !important;
    background-color: #af1b72 !important;
  }

  .calendario .active{
    border: #af1b72 1px solid !important;
    background-color: #af1b72 !important;
  }


  .alert{
    color: rgba(0, 0, 0, 0.589);
    background-color: #af1b7127 !important;
  }

  .calendario td{
    border: 0.5px solid rgba(0, 0, 0, 0.192) !important;
  }

  .calendario a{
    color: black !important;
  }

  .calendario .fc-col-header-cell{
    border: 1px solid rgba(0, 0, 0, 0.192) !important;
  }

  .calendario .fc-view-harness{
    border: 6px solid #403F4C !important;
  }

  .tippy-box {
    color: #fff;
    border-radius: 8px;
    padding: 10px;
    overflow: hidden;
    text-overflow:ellipsis;
    background: rgb(148, 148, 148);
    font-size: 1rem;
  }


  /* STEPS QUESTIONARIE */

  .registercontpage {
    position: relative;
    z-index: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    border-radius: 50px;
}
.btn-circle{
	background: #fac7e5;
    border: 1px solid black;
}

.stepwizard-step p {
	margin-top: 10px;
}
.stepwizard-row {
	display: table-row;
}
.stepwizard {
    margin-top: 20px;
	display: table;
	width: 100%;
	position: relative;
}

.stepwizard-row:before {
	top: 14px;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 100%;
	height: 1px;
	background-color: #000000;
	z-order: 0;
}
.stepwizard-step {
	display: table-cell;
	text-align: center;
	position: relative;
    color: black;
}
.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}

.active-pa{
    background: #f833a6 !important;
    border: 1px solid black !important;
}


.button-confirm {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #df1365;
  border-radius: 0.6em;
  color: #df1365;
  cursor: pointer;
  margin: 20px 0px 0px 0px;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.first {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first:hover {
  color: white;
  box-shadow: 0 0 40px 40px #1a1a1a inset;
}

.button-confirm:disabled{
  opacity: 0.2;
}


#toast-container>.toast-success {
  margin-top: 4em;
  background-color: #e81f76;
  color: #fff;
}

#toast-container>.toast-error {
  margin-top: 4em;
  background-color: #e64141;
  color: #fff;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
